widgetbot {
    width: 600px;
    height: 800px;
}

#news-area {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: linear-gradient(maroon, black);
    min-height: 40vh;
    max-height: 80vh;
    gap: 1cm;
    padding: 1cm;
    overflow-x: auto;
    overflow-y: hidden;
}

#news-title {
    text-align: center;
    background-color: maroon;
    color: gainsboro;
    font-size: 58px;
    padding: 2cm;
}

#news-tab {
    font-size: 22px;
    color: maroon;
    border: 2px solid maroon;
    border-bottom-style: none;
    border-radius: 10px 10px 0 0;
    background-color:rgba(211, 211, 211);
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    left: 1ch;
    padding: 0.5ch 1.5ch;
}

#news-tab:hover {
    opacity: 1;
}

.article {
    display: flex;
    flex-direction: column;
    border: 4px solid slategrey;
    background-color: rgba(211, 211, 211, 0.747);
    min-width: 10cm;
    max-width: 14cm;
    overflow-y: auto;
}

.article p {
    font-size: 20px;
    margin: 1ch 2ch;
}

.article h1 {
    margin: 0;
    padding: 1ch 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px darkslategray solid;
    background-color:rgba(211, 211, 211, 0.836);
}

.article h2 {
    background-color: rgba(155, 142, 142, 0.31);
    text-align: center;
    padding: 0.5ch 0;
    font-weight: normal;
    font-size: 28px;
}

.article .section {
    border: 2px solid maroon;
    margin: 2ch;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.37);
}

.article .urgent {
    background-color: rgba(148, 18, 18, 0.322);
    font-weight: bold;
}

.section-head {
    border-radius: 30px 30px 0 0;
}

.article a {
    color: maroon;
    font-weight: bold;
}

.article a:hover {
    color: white;
}