#news-bg {
    background: var(--primary-alt);
    width: 100%;
    overflow-x: auto;
}

#news-area {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    width: 100%;
    gap: 1cm;
    padding: 2cm;
}

#news-title {
    text-orientation: sideways;
    text-align: center;
    background-color: var(--primary-alt);
    color: var(--primary-text);
    font-size: var(--super);
    font-weight: bold;
    padding: 2cm 0 1cm 0;
}

#news-tab {
    font-size: 22px;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-bottom-style: none;
    border-radius: 10px 10px 0 0;
    background-color: var(--page-bg);
    opacity: 0.4;
    position: fixed;
    bottom: 0;
    left: 1ch;
    padding: 0.5ch 1.5ch;
}

#news-tab:hover {
    opacity: 1;
}

.article {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--primary-accent);
    background-color: var(--page-bg);
    flex: 1 0 auto;
    width: 10cm;
    max-width: 10cm;
    max-height: 12cm;
    overflow-y: auto;
}

.article.old {
    opacity: 0.7;
}

.article p {
    font-size: var(--small);
    margin: 1ch 2ch;
}

.article h1 {
    margin: 0;
    padding: 1ch 0;
    font-size: var(--medium);
    text-align: center;
    border-bottom: 2px darkslategray solid;
    background-color:rgba(211, 211, 211, 0.836);
}

.article h2 {
    background-color: rgba(155, 142, 142, 0.31);
    text-align: center;
    padding: 0.5ch 0;
    font-weight: normal;
}

.section {
    border: 2px solid slategrey;
    margin: 2ch;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.37);
}

.section-head {
    border-radius: 30px 30px 0 0;
}

.article a {
    color: var(--body-link);
    font-weight: bold;
}

.article a:hover {
    color: var(--body-link-hover);
}

.urgent {
    border-color: var(--primary);
}

.urgent h2 {
    background-color: rgba(148, 18, 18, 0.322);
    font-weight: bold;
}

.more-news {
    position: sticky;
    right: 0;
    border: 4px solid var(--primary-accent);
    border-radius: 72px;
    background-color: var(--page-bg);
    color: var(--primary);
    font-size: var(--super);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.more-news:hover {
    background-color: var(--footer-accent);
}