#board-title {
    font-size: 42px;
    text-align: center;
    background-color: lightgrey;
    padding: 2cm;
}

#board {
    padding: 6ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: gainsboro;
}

.bio h1 {
    font-size: 28px;
    color: white;
}

.bio h2 {
    font-size: 20px;
}

.bio {
    display: flex;
    flex-direction: column;
    min-width: 20ch;
    min-height: 30ch;
    background-color: rgba(128, 0, 0, 0.842);
    margin: 2ch;
    padding: 1ch 2ch;
    color: gainsboro;
    flex: 0 0 1;
}

.bio img {
    margin: 1ch;
}

#about {
    display: flex;
    flex-direction: column;
    padding: 4cm;
    gap: 1cm;
}

#about h1 {
    text-align: center;
    font-size: 38px;
}

#about p {
    margin: 2ch 20%;
    font-size: 24px;
    text-align: center;
}