* {
    /* reset and gen*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* colors */
    --primary: maroon;
    --primary-accent: slategrey;
    --primary-alt: rgb(88, 8, 8);
    --primary-text: #f7f7f7;
    --secondary: firebrick;
    --secondary-accent: darkslategrey;
    --secondary-text: #f7f7f7;
    --page-bg: #f7f7f7;
    --footer-bg: rgb(4, 5, 7);
    --footer-txt: #b4b4b4;
    --footer-accent: rgb(14,15,17);
    --body-link-hover: orangered;
    --body-link: maroon;

    /* font-size */
    --super: 40px;
    --large: 32px;
    --medium: 24px;
    --small: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 990px;
    width: auto;
}

#header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#banner {
    display: flex;
    width: 100%;
    height: 5cm;
    background-color: var(--primary);
    border-bottom: 5px var(--primary-accent) solid;
    align-items: center;
}

#banner h1 {
    font-size: var(--super);
    align-self: center;
    color: var(--page-bg);
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#int-links {
    display: flex;
    align-self: center;
}

.int-link {
    border-radius: 10px 10px 0 0;
    border: 2px solid rgb(49, 5, 5);
    border-bottom-style: none;
    padding: 0.5ch 2ch;
    background-color: rgba(255, 0, 0, 0.171);
}

.int-link:hover {
    transform: translate(0, -3px) scaleY(1.2);
    background-color: rgba(255, 0, 0, 0.596);
}

.ext-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    gap: 2ch;
    padding: 0.25ch 2ch;
    flex: 0;
}

#ext-links {
    display: flex;
    gap: 2ch;
    align-self: flex-start;
    padding: 1ch;
}

#project-link {
    background-color: rgba(112, 128, 144, 0.356);
    border-color: darkslategray;
}

#project-link:hover {
    background-color: rgba(112, 128, 144, 0.5);
    color: white;
}

#discord-link {
    background-color: rgba(65, 105, 225, 0.219);
    border-color: royalblue;
}

#discord-link:hover {
    background-color: rgba(65, 105, 225, 0.493);
    color: white;
}

#logo {
    margin: 0.5cm;
    border-radius: 12px;
    width: 160px;
    height: 160px;
}

#footer {
    display: flex;
    background-color: var(--footer-bg);
    color: var(--footer-txt);
    padding: 4rem; 
    font-weight: lighter;
    font-size: 14px;
    gap: 10ch;
    flex: 1;
    justify-content: space-between;
}

#footer ul {
    list-style-type: none;
}

#footer li {
    margin: 1ch 0;
}

#footer a {
    text-decoration: underline;
}

#footer p {
    padding: 1ch 0;
    max-width: 60ch;
}

#footer h1 {
    font-weight: bold;
    font-size: 18px;
}

#info {
    display: flex;
    gap: 2cm;
}

#contact {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    align-self: stretch;
    max-width: 30ch;
}

#critical {
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    border: 3px solid rgb(85, 1, 1);
    background-color:rgba(85, 1, 1, 0.603);
    padding: 2ch 4ch;
}

.closed {
    position: absolute;
    bottom: 50%;
    text-align: center;
    width: 100%;
    font-size: var(--super);
    font-weight: bold;
}

.hide {
    visibility: hidden;
}

.article.hide {
    display: none;
}